.custom-datepicker {
    width: 100%;
  }
  
  .custom-datepicker .MuiInputBase-input {
    padding: 11px;
    font-size: 13px;
  }
  

  .MuiTableCell-root.css-1ex1afd-MuiTableCell-root,
  .MuiTableCell-body.css-1ex1afd-MuiTableCell-root,
  .MuiTableCell-sizeMedium.css-1ex1afd-MuiTableCell-root {
    padding: 12px !important; 
  
  }
 